---
layout: default
---
<main>
    <p>
        As this page is a work in progress, a pdf version of my resume can be downloaded <a href="/Warren_Gates_resume.pdf" target="_blank">here</a>.
    </p>
    <div class="resume">
        <div class="resume__category_name">Skills</div>
        <div class="resume__category_contents">
            {% for skill in site.data.skills %}
            <p class="skillblock">
                <span class="skilltype">{{ skill.category }}</span>: {{ skill.items }}
            </p>
            {% endfor %}
        </div>
        <div class="resume__category_name">Experience</div>
        <div class="resume__category_contents">
            {% for job in site.data.experience %}
            <p class="jobemployer">
                <span class="jobtitle">{{ job.title }}/{{ job.employer }}</span>
            </p>
            <p class="jobdates">
                <span class="jobdates">{{ job.startDate }} - {{ job.endDate }}, {{ job.location }}</span>
            </p>
            <p class="jobdetails">
            <ul>
            {% for bullet in job.details %}
            <li>{{ bullet }}</li>
            {% endfor %}
            </ul>
            </p>
            {% endfor %}
        </div>
    </div>
</main>
